Repository ScootKit/scnx-docs, pull requests merged in 2023-09, with the labels that each got.

#9 Create setup.md
  docs/setup.md
  i18n/de/docusaurus-plugin-content-docs/current/setup.md
Labels: Added translation

#13 Added scnx/guilds/bots
  docs/assets/scnx/guilds/bots/bot-status-example.png
  docs/assets/scnx/guilds/bots/change-language.png
  docs/assets/scnx/guilds/bots/change-token.png
  docs/assets/scnx/guilds/bots/edit-profile.png
  docs/assets/scnx/guilds/bots/share-logs.png
  docs/scnx/guilds/bots.md
Labels: Added new docs file

#10 Custom bot setup
  docs/assets/setup/custom-bot-1.png
  docs/assets/setup/custom-bot-2.png
  docs/assets/setup/custom-bot-3.png
  docs/assets/setup/custom-bot-4.png
  docs/assets/setup/custom-bot-5.png
  docs/assets/setup/custom-bot-6.png
  docs/assets/setup/custom-bot-7.png
  docs/custom-bot.md
  docs/scnx/account-and-billing/ads.md
  docs/scnx/guilds/analytics.md
  i18n/de/code.json
Labels: Added new docs file

#6 Plan translation
  docs/scnx/guilds/faq.md
  docs/scnx/guilds/plans.md
  i18n/de/docusaurus-plugin-content-docs/current/scnx/guilds/plans.md
Labels: Added translation, Fixed typo in original docs
